body, html{
    height: 100%;
    margin: 0px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
::placeholder{
    font-size: 20px;
    text-align: center;
}
.bg {
    /* The image used */
    background-image: url("../../front-bg.jpg");

    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    position: fixed;
    margin: 0px;
    overflow: auto;
}
.signup-form{
    height: 400px;
    width: 468px;
    background: #FFFFFF;
    top: 500px;
    margin-top: 13%;
    margin-left: 51%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}
.signup-h1{
    margin: 0px;
    text-align: center;
    padding: 0 0 5px;
}
.signup-heading{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.signup-row{
    width:468px;
    height: 85px;
}
.signup-col-l{
    width:214px;
    height: 70px;
    float:left;
    padding: 5px 10px 0;
}
.signup-col-r{
    width:214px;
    height: 70px;
    float:right;
    padding: 5px 10px 0;
}
.input-frame{
    color: #287AE6;
    border-color: #287AE6;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
.l{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 13px;
}
input[type="text"],input[type="password"]{
    width: 190px;
    height: 28px;
    outline: 0px;
    border: 0px;
    color: #202124;
    font-size: 16px;
    padding: 5px 10px 12px;

}
.error{
    color: #FF0000;
    text-align: right;
    width: 214px;
    height: 20px;
    font-size: 12px;
}
.yesacc{
    width:340px ;
    height: 40px;
    padding: 22px 10px;
    float: left;
}
a:hover{
    color: #287AE6;

}
a{
    text-decoration: none;
}
.signup-submit{
    width:88px;
    float: right;
    margin-right: 15px;
    height: 85px;
    line-height: 85px;
}
input[type='submit']{
    width:88px;
    height: 36px;
    background: #287AE6;
    border-radius: 5px;
    border: 0px;
    color: #FFFFFF;
    font-size:15px;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
